#box1{   
   width: 250px;
   height: 250px;
   font-size: 225px;
   text-align: center;
   background: red;

   /*
   animation: mySlide;
   animation-play-state: running;
   animation-iteration-count: infinite;
   animation-delay: 0s;
   animation-timing-function: ease-in;
   animation-duration: 5s;
   */
   animation: 3s linear 0s infinite running myColorChange;
}
#box1:hover{

}

#box1:active{
    
}

@keyframes mySlide{
     from{margin-left: 100%;}
     to{margin-left: 0%;}
}
@keyframes myRotate{
     /*100%{transform: rotateX(360deg)}
     100%{transform: rotateY(360deg)}*/
     100%{transform: rotateZ(360deg)}

}
@keyframes myOpacity{
       50%{opacity: 0;}
}
@keyframes myScale{
     50%{transform: scale(0.5, 0.5);}
}
@keyframes myColorChange{
     20%{background: orange;}
     40%{background: yellow;}
     60%{background: green;}
     80%{background: blue;}
     100%{background: teal;}
} 