body{
   background-color: #111111;
}
h1{
   color:#ffffff;
   font-family: "Press Start 2P", "consolas", sans-serif;
}
p{
    color: #00FF73;
    font-family: "consolas", sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: cyan dotted underline;
    font-size: 18px;
}